@use "../../style/utils.scss";
@use "../../style/colors.scss";

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-bg);

  @include utils.viewport(3) {
    flex-direction: column;
    align-items: center;
  }
}
